<h2>transaction list</h2>

<div nz-row>
    <div nz-col nzSpan="2">
        <button routerLink="/create" nz-button nzType="primary">Create</button>
    </div>
    <div nz-col nzSpan="4" nzOffset="1">
        <input [formControl]="searchInput" name="searchInput" nz-input placeholder="Filter by ID" />
    </div>
    <div nz-col nzSpan="6" nzOffset="1">
        <nz-range-picker [formControl]="rangeInput" [nzShowTime]="true"></nz-range-picker>
    </div>
</div>
<br>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
        <tr>
            <th [(nzChecked)]="checked" ></th>
            <th>Id</th>
            <th>Date</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.date | date: 'M/d/yyyy h:mm:ss' }}</td>
            <td>{{ data.currency }}</td>
            <td>{{ data.amount }} {{ data.currency }}</td>
            <td>
                <button (click)="onItemRemove(data.id)" nz-button nzSize="large"><i nz-icon nzType="delete"></i></button>
            </td>
        </tr>
    </tbody>
</nz-table>
